.Pokecard{
    min-width: 12rem;
    min-height: 17rem;
    border-radius: 15px;
    background-color: grey;
    margin:20px;


    display: inline-flex; 
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-evenly safe;
    align-items: center;
    align-content: stretch;
}