.Pokecard{
    border-radius: 15px;
    background-color: lightgray;
    
    padding: 20px 30px;
    margin:30px;

    text-align: center;

    display: inline-flex; 
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-evenly safe;
    align-items: center;
    align-content: stretch;
}

.Pokecard-title{
    font-size: larger;
    color: blue;
}